$link_color             : theme('colors.primary.700');
$link_hover_color       : theme('colors.primary.800');
$meta_link_color        : theme('colors.gray.600');
$meta_link_hover_color  : theme('colors.gray.800');

$link_decoration        : none;
$link_hover_decoration  : none;